__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

/experiments/
/results/
/tb_logger/
/tb_logs/
/wandb/
/metric_cache/

/datasets/
/data/
tools/
*.log

configs/*local*.yml

/pretrained/*
!pretrained/README.md
/prior/checkpoints/

*.pth
*.pt
*.ckpt
*.state

.ipynb_checkpoints/
