addict
anycapture
future
fvcore
lmdb
numpy==1.26.4
opencv-python
Pillow
pytorch-lightning
pytorch_msssim
pyyaml
requests
scikit-image
scipy
openTSNE
tb-nightly
timm
tqdm
yapf
transformers==4.37.2
einops
lpips
